docker.enabled = true
params.reads = false

process {
  cpus = 16
  memory = "2.GB"

  withName: obtain_human_cdna {
    container = "pgc-images.sbgenomics.com/deslattesmaysa2/curl"
  }
  withName: salmon_index {
    container = "pgc-images.sbgenomics.com/deslattesmaysa2/salmon:v1.9"
  }
  withname: salmon_quant {
    container = "pgc-images.sbgenomics.com/deslattesmaysa2/salmon:v1.9"
  }
}
